.center-child {
  display: flex;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.number-input {
  width: 50%;
  margin-bottom: 2rem;
}

.fixed-right{
  position: fixed;
  right: 1rem;
}