.flex-child-center {
  display: flex;
  justify-content: center;
}

.flex-child-right {
  display: flex;
  justify-content: flex-end;
}

.flex-child-column {
  display: flex;
  flex-direction: column;
}

.margin-small {
  margin: 1rem;
}

.margin-right-small {
  margin-right: 1rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.number-input {
  width: 50%;
  margin-bottom: 2rem;
}

.fixed-right {
  position: fixed;
  right: 1rem;
}

.height-transition {
  transition: height 0.2s ease;
  height: 100%;
}

.hide {
  display: none;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .desktop-only {
    display: block;
  }
}
