.main-page {
  margin-top: 5rem;
}

.tile-flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-parent {
  width: 8rem;
  margin: 0.15rem;
  display: flex;
  justify-content: center;
}
.icon-image {
  height: 5rem;
  width: 5rem;
}
.type {
  text-align: center;
}

