.main-page {
  margin-top: 5rem;
}

.tile-flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-parent {
  width: 6rem;
  margin: 0.5rem;
}
.type {
  text-align: center;
}
