.main-page {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.tile-flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 25rem;
}
.box-parent {
  width: 30%;
  margin: 0.15rem;
  display: flex;
  justify-content: center;
}
.icon-image {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}
.type {
  text-align: center;
}
